$ cat .gitattributes
*.md linguist-detectable=true
*.md linguist-language=Markdown
CSS/* linguist-vendored
__nhan020_soft_switch/esp/* linguist-vendored
nhan002-headphones-driver/others/* linguist-vendored